.App {
  height: 50em;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/5w/5t/p05w5tk2.jpg);
  background-position: center;
  background-size: cover;

}